.vscode
__pycache__/
*.py[co]
*.json
*.jpg
*.lst
*.bak
*.log
log/
patch*/

train_output/
temp_output/
test_output/
pretrained_models
scripts/
detail-api/
tissue=train-neg/
tissue-train-pos/
color/
mask/
temp*/
data/
